body{
    margin: 0;
    width: 100%;
}
html{
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px 90px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000; 
    background: white;
}
header img{
    max-width: 100px;
}
nav ul{
    display: flex;
    gap: 20px;
}
ul li{
    list-style: none;
}
li a{
    text-decoration: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
    transition: 0.5s;
}
li a:hover{
    color: #08ff8a;
    transition: 0.5s;
}
@media (max-width: 768px) {
    header{
        padding: 30px 30px;
    }
    header img{
       max-width: 100px;
    }
    a{
        display: none;
    }
}

                                        /* HOME */
#home{
    display: flex;
    justify-content: space-between;
    padding: 90px 90px;
    align-items: center;
}
.divhome{
    width: 60%;
}
.divhome input{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;;
    font-size: 15px;
    font-weight: 400;
    color: white;
    background-color: #048a4b;
    border: none;
    padding: 9px 30px;
    border-radius: 10px;
    transition: 1s;
}
.divhome input:hover{
    background-color: #05b965;
    transition: 1s;
    border: none;
}
.intro{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;;
    font-size: 70px;
    font-weight: 700;
    color: black;
    line-height: 84px;
    margin-top: -40px;
}
.intro span{
    color: #048a4b;
}
.job{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;;
    font-size: 20px;
    font-weight: 400;
    color: black;
    margin-top: -60px;
}
.imghome{
    width: 40%;
}
.imghome img{
    border-radius: 30% 10% 10% 10%;
    width: 500px;
}
@media (max-width: 768px) {
    #home{
        display: block;
        padding: 40px 30px;
        align-items: center;
    }
    .intro{
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;;
        font-size: 40px;
        font-weight: 700;
        color: black;
        line-height: 45px;
        margin-top: -20px;
    }
    .divhome{
        width: 100%;
    }
    .job{
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;;
        font-size: 18px;
        font-weight: 400;
        color: black;
        margin-top: -29px;
    }
    .imghome{
        width: 100%;
    }
    .imghome img{
        border-radius: 10% 10% 10% 10%;
        width: 100%;
        margin-top: 20px;
    }
}


                                /* ABOUT */
#about{
    display: flex;
    padding: 90px 90px;
    gap: 60px;
}
.divabout1{
    width: 50%;
}
.divabout1 span{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;;
    font-size: 20px;
    font-weight: 400;
    color: #05b965;
}
.soft{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;;
    font-size: 45px;
    font-weight: 700;
    color: #000000;
    margin:2% 0;
}
.introd{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;;
    font-size: 15px;
    font-weight: 400;
    color: #666666;
    margin: 0%;
}
.divabout2, .divabout3{
    width: 50%;
}
.divskills{
    display: flex;
    justify-content: space-between;
}
progress{
    width: 100%;
} 

@media (max-width: 768px) {
    #about{
        display: block;
        padding: 40px 30px;
        gap: 60px;
    }
    .divabout1{
        width: 100%;
    }
    .divabout1 span{
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;;
        font-size: 20px;
        font-weight: 400;
        color: #05b965;
    }
    .soft{
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;;
        font-size: 25px;
        font-weight: 700;
        color: #000000;
        margin: 5% 0;
    }
    .introd{
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;;
        font-size: 15px;
        font-weight: 400;
        color: #666666;
    }
    .divabout2, .divabout3{
        width: 100%;
    }
    .divskills{
        display: flex;
        justify-content: space-between;
    }
    progress{
        width: 100%;
    } 
}


                    /* EXPERIENCE */
 #experience{
    padding: 90px 90px;
    background-color: #f2f4ff;
 }  
 .divexp{
    text-align: center;
 } 
 .divexp span{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #05b965;
    margin-left: 8px;
 }
 .exp-row{
    display: flex;
    gap: 30px;
    margin-top: 30px;
 } 
 .webdesigner{
    width: 50%;
    border: 1px solid rgb(182, 176, 176);
    padding: 10px 20px;
 }
 .head{
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: -10px -20px;
    padding-left: 20px;
    padding-right: 20px;
 }
 .headtitle{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;;
    font-size: 13px;
    font-weight: 400;
    color: white;
    background-color: #05b965;
    padding: 5px 8px;
    border-radius: 10px;
    align-self: center;
 }
 .headdate{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;;
    font-size: 16px;
    font-weight: 400;
    color: black;
 }
 .bottom{
    display: flex;
   gap: 20px;
   padding: 10px 10px;
 }
 .dp p{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;;
    font-size: 20px;
    font-weight: 400;
    color: black;
    border: 1px solid black;
    padding: 30px 30px;
    border-radius: 100%;
 }
 .desc-title{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;;
    font-size: 20px;
    font-weight: 700;
    color: black; 
 }
 .desc-content{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    margin-top: -12px;
 } 
 
 @media (max-width: 768px) {
    #experience{
        display: block;
        padding: 40px 30px;
        max-width: 100%;
    }
    .exp-row{
        display: block;
        gap: 30px;
        margin-top: 30px;
        max-width: 100%;
     } 
     .webdesigner{
        width: 100%;
        border: 1px solid rgb(182, 176, 176);
        padding: 10px 0px;
     }
     .head{
        display: flex;
        justify-content: space-between;
        background-color: white;
        padding: 0 ;
        width: 100%;
        justify-self: center;
     }
     .headdate{
        font-size: 12px;
        align-self: center;
     }
     .bottom{
        width: 100%;
        padding: 0 5px;
     }
     .desc-content{
        font-size: 12px;
     }
 }